.container{
	background: lightgray;
	height: 500px;
	text-align: center;
	width: 78%;
	margin-top: 85px;
	border-radius: 20px;
	border-color: black;
	border: 10px groove #28f1fc;
}



.button{
 	margin: 0 auto;
}

body{
	background-size: 100%;
	width: 100%;
	height: 100%;
	font-family: 'Black Ops One', cursive;
}

.rowq, .rowt {
	height: 50px;
}

.rowc {
	padding: 15px;
}

.timer {
    font-size: 25px;
}

.btn{
	margin: 5px 0px;
	width: 100%;
	height: 50px;
	background: #28f1fc;
	border: 5px groove black;
	color: black;
}

.img{
	display: none;
	height: 200px;
	width: 200px;
}

.start1{
	display: none;
}

.btn:hover{
	background: black;
}


h1{
	background: black;
	color: #28f1fc;
}






